@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}


.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h1 {
  margin: 0;
  
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}

header {
    background-color:darkgrey;
    height: 70px;
    width: 100vw;
    
}

header div{
    display:block;
    height:100%;
    
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkolivegreen;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    font-family: 'Poppins';
    
    
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.menu-icon{
    width: 35px;
    height: 5px;
    background-color: darkolivegreen;
    margin: 6px 0;
}

.img-logo{

    height : 100%;
    float: right;
    margin-right: 20px;
    display: inline-block;
}

.container {
    display: inline-block;
    cursor: pointer;
  }

.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: darkolivegreen;
margin: 6px 0;
transition: 0.4s;
}

.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-9px, 6px);
transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
  }


h1.impacto{
    float: right;
    padding-right: 30px;
    margin-top: 17px;
    font-size: 40px;
    color:darkolivegreen;
    font-family:montserrat,sans-serif;
    font-weight: 600;
    font-style: italic;
}
nav{
    display: inline;
    float:left;
}

nav ul{
    display: inline-block;
}

nav ul li{
    display: inline-block;
    font-family: montserrat,sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-top: 20px;
    padding-left: 15px;
    color:darkolivegreen;
}
.nosotros{
     display: inline-block;
    font-family: montserrat,sans-serif;
    font-weight: 600;
    font-style: italic;
    margin-top: 20px;
    padding-left: 15px;
    color:darkolivegreen;
}
.fondo{
    text-align: center;
    padding-left: 500px;
    height: 200px;
}

.main-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.form-container{
    width: 70%;
}

.form-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-title-container h1{
    font-family: 'Poppins',sans-serif;
    font-size: 32px;
    color: darkolivegreen;
}

input[type="file"]{
    position: absolute;
    top: -9999px;
    left: -9999px;
}
input[type="submit"]{
    position: absolute;
    top: -9999px;
    right: -9999px;
}

label{
    align-items: center;
    height: 30px;
    
}

p{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
}
label:not(.chosen):hover{
    background: darkgreen;
    box-shadow: 0 0 10px 0 darkgreen;
    align-items: center;
}

label img{
    width:30px;
    margin-right:10px;
    background: darkolivegreen;
}



#upload-btn{
    font-family: 'Montserrat',sans-serif;
    background-color: darkolivegreen;
    border: none;
    display: inline-flex;
    color: black;
    border: 1px solid grey;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 15px 5px 15px;
    align-items: center;
    width:fit-content;
}

#submit{
    font-family: 'Montserrat',sans-serif;
    background-color: darkolivegreen;
    border: none;
    float:right;
    display: inline-flex;
    color: black;
    border: 1px solid grey;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 15px 5px 15px;
    align-items:center ;
}

table {
  width: 100%;
  border: 1px solid #999;
  text-align: left;
  border-collapse: collapse;
  margin: 0 0 1em 0;
  caption-side: top;
}
caption, td, th {
  padding: 0.3em;
}
th, td {
  border-bottom: 1px solid #999;
  width: 25%;
}
th{
  text-emphasis: dsswq1|;;
}

caption {
  font-weight: bold;
  font-style: italic;
}